h2{text-align:center;}
  table {
  width: 100%;
  border-collapse: collapse; 
  table-layout: fixed;
}
th, td {
  border: 2px solid #ddd;
  padding: 10px 5px;
  text-align: center;
  height: 80px;
  vertical-align: middle;
}
    th {
  height: 40px;
  background-color: #f4f4f4;
}
.sun { color: red; }   
.sat { color: blue; }
  small{font-size:0.7em;}

